!!!5
%html
  %head
    %meta(http-equiv="refresh" content="15")
    %link(rel="stylesheet" type="text/css" href="css/buildmonitor.css")
    %title
      Status monitor
  %body
    -if @projects_info.any? {|key,value|!value}
      -unless request.cookies['playedalert'].eql? 'true'
        :javascript
          var AN_HOUR = 3600000; 
          var theDate = new Date();
          var alarmInterval = new Date( theDate.getTime() + AN_HOUR);
          var expiryDate = alarmInterval.toGMTString();
          document.cookie = "playedalert=true;expires="+expiryDate;
        %audio{autoplay:'autoplay'}
          %source{src:'/killbill.ogg', type: "audio/ogg" }/
          %source{src:'/killbill.mp3', type: "audio/mpeg" }/
    -else
      :javascript
        document.cookie = "playedalert=false;";

    -@projects_info.each do |key, value|
      -style = "width: #{Float(89) / @horizontal_items}%; margin-left: #{Float(3) / @horizontal_items}%; margin-right: #{Float(3) / @horizontal_items}%;"
      -style += "height: #{Float(89) / @vertical_items}%; margin-top: #{Float(3) / @vertical_items}%; margin-bottom: #{Float(3) / @vertical_items}%"
      %a{class: value ? 'success':'failure', style: style}
        #{key}
