!!!5
%html
  %head
    %meta(http-equiv="refresh" content="5")
    %link(rel="stylesheet" type="text/css" href="css/buildmonitor.css")
    %title
      Status monitor
  %body
    -if @projects_info.any? {|key,value|!value[:successful]}
      -unless request.cookies['playedalert'].eql? 'true'
        :javascript
          var theDate = new Date();
          var twentyMinsLater = new Date( theDate.getTime() + 1200000 );
          var expiryDate = twentyMinsLater.toGMTString();
          document.cookie = "playedalert=true;expires="+expiryDate;
        %audio{autoplay:'autoplay'}
          %source{src:'/killbill.ogg', type: "audio/ogg" }/
          %source{src:'/killbill.mp3', type: "audio/mpeg" }/
    -else
      :javascript
        document.cookie = "playedalert=false;";

    -@projects_info.each do |key, value|
      -style = "width: #{Float(89) / @horizontal_items}%; margin-left: #{Float(3) / @horizontal_items}%; margin-right: #{Float(3) / @horizontal_items}%"
      -style += "width: #{Float(89) / @horizontal_items}%; margin-left: #{Float(3) / @horizontal_items}%; margin-right: #{Float(3) / @horizontal_items}%"
      %a{class: value[:successful]?'success':'failure', href: value[:url], style: "width: #{Float(89) / @horizontal_items}%; margin: #{Float(3) / @horizontal_items}%"}
        #{key}
